[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/billbosmaggins/Desktop/exo-terminal-emulator.desktop]
row=0
col=2

[/home/billbosmaggins/Desktop/code.desktop]
row=0
col=1

[/home/billbosmaggins/Desktop/GitHub.desktop]
row=0
col=3

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/billbosmaggins]
row=2
col=0

